<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.marcstan.ShareEmergencyContacts" android:versionCode="1" android:versionName="0.0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
	<uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
	<application android:label="Share emergency contacts" android:hardwareAccelerated="true"></application>
</manifest>