<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Share emergency contacts</string>
	<key>CFBundleName</key>
	<string>ShareEmergencyContacts</string>
	<key>CFBundleIdentifier</key>
	<string>net.marcstan.ShareEmergencyContacts</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.5</string>
	<key>CFBundleVersion</key>
	<string>0.9.5</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to scan QR codes.</string>
	<key>CFBundleURLSchemes</key>
	<string>mobilecenter-20db8320-b54d-4c45-b74c-f1c59e948c21</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
	<key>UIStatusBarHidden</key>
	<true />
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-76@3x</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
